* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 36px;
    width: 100%;
    padding: 4px 15px 2px;
    position: fixed;
}

main {
    padding-top: 40px;
}

h1 {
    font-size: 40px;
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    color: #121212;
    font-weight: 700;
    line-height: 3rem;
    font-style: italic;
    margin-bottom: 20px;
}

.share {
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
}

.share li {
    display: inline-block;
}

.fb,
.whatsapp,
.twitter,
.email,
.more {
    vertical-align: middle;
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    height: 27px;
    width: 27px;
    margin-right: 10px;
}

.ribbon {
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    height: 25px;
}

.comment {
    vertical-align: middle;
    background: transparent;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 4px;
    padding: 4px;
    position: relative;
    min-width: 26px;
    min-height: 14px;
    width: auto;
}

article {
    margin-top: 60px;
}

article section {
    width: 600px;
    margin: auto;
}

#image-01 {
    margin: auto;
    width: 1200px;
}

#author-date {
    padding: 30px 0;
}

article p,
article h2 {
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 20px;
    line-height: 1.875rem;
    margin-bottom: 15px;
}

.science-times {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-top: 1px solid rgb(226, 226, 226);
    color: rgb(51, 51, 51);
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 15px;
}

.science-times .txt {
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.125rem;
    letter-spacing: .03rem;
}

.science-times span {
    font-style: italic;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-weight: normal;
    text-transform: none;
    font-size: 17px;
}

.science-times button {
    padding: 6px 12px 4px;
    margin-top: 4px;
    width: 55px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    line-height: 1.25rem;
    border-radius: 2px;
    border: 1px solid black;
    background: white;
    width: auto;
    white-space: nowrap;
}

iframe {
    width: 600px;
    height: 337.5px;
}