* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 36px;
    width: 100%;
    padding: 4px 15px 2px;
    position: fixed;
    z-index: 2;
}

.head-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    gap: 23px;
}

.left-more,
.left-search {
    height: 16px;
    width: 16px;
}

.left-space-cosmos {
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    letter-spacing: .7px;
    line-height: 19px;
    text-transform: uppercase;
}

.left-space-cosmos a {
    text-decoration: none;
    color: black;
}

.left-space-cosmos a:hover {
    text-decoration: underline;
}


/* .mid {} */

.mid svg {
    height: 26.5px;
}

.right {
    display: flex;
    gap: 7px;
}

.sub-btn button,
.login-btn button {
    padding: 11px 12px 8px;
    background-color: rgb(86, 123, 149);
    color: white;
    font-size: 11px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-radius: 3px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: .05em;
    border: 1px solid rgb(50, 104, 145);
}

aside {
    height: 311px;
    width: 210px;
    position: absolute;
    right: 175px;
    top: 2050px;
    font-size: 14px;
    line-height: 14px;
}

aside p {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    margin-bottom: 15px;
    padding-bottom: 12px;
    font-weight: 700;
    display: block;
    border-bottom: 1px solid rgb(226, 226, 226);
    letter-spacing: .02em;
}

aside img {
    height: 75px;
    width: 75px;
}

.pick {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
}

.pick-item {
    display: flex;
    height: 78px;
}

.pick-item p {
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    margin: 5px 0 5px 10px;
    border: none;
    font-weight: 500;
    line-height: 17px;
    color: rgb(51, 51, 51);
}

main {
    padding-top: 40px;
}

h1 {
    font-size: 40px;
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    color: #121212;
    font-weight: 700;
    line-height: 3rem;
    font-style: italic;
    margin-bottom: 20px;
}

.share {
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
}

.share li {
    display: inline-block;
}

.fb,
.whatsapp,
.twitter,
.email,
.more {
    vertical-align: middle;
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    height: 27px;
    width: 27px;
    margin-right: 10px;
}

.ribbon {
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    height: 25px;
}

.comment {
    vertical-align: middle;
    background: transparent;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 4px;
    padding: 4px;
    position: relative;
    min-width: 26px;
    min-height: 14px;
    width: auto;
}

article {
    margin-top: 60px;
}

article section {
    width: 600px;
    margin: auto;
}

#image-01 {
    margin: auto;
    width: 1200px;
}

#image-02 {
    margin: auto;
    width: 720px;
}

#image-02 figcaption {
    margin: 10px 20px 15px 0;
}

#author-date {
    padding: 30px 0;
}

article p,
article h2 {
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 20px;
    line-height: 1.875rem;
    margin-bottom: 15px;
}

.science-times {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-top: 1px solid rgb(226, 226, 226);
    color: rgb(51, 51, 51);
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 15px;
}

.science-times .txt {
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.125rem;
    letter-spacing: .03rem;
}

.science-times span {
    font-style: italic;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-weight: normal;
    text-transform: none;
    font-size: 17px;
}

.science-times button {
    padding: 6px 12px 4px;
    margin-top: 4px;
    width: 55px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    line-height: 1.25rem;
    border-radius: 2px;
    border: 1px solid black;
    background: white;
    width: auto;
    white-space: nowrap;
}

iframe {
    width: 600px;
    height: 337.5px;
}

.inflation {
    width: 945px
}

.inflation h2 {
    margin-bottom: 2px;
    font-size: 20px;
    font-family: nyt-cheltenham, georgia, times new roman, times, serif;
    line-height: 1.5rem;
    font-weight: 700;
}

.inflation p {
    font-size: 14px;
    margin-right: 7px;
    color: #666;
    font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
    font-weight: 400;
    line-height: 1.125rem;
}

.grid-container {
    background: url(https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png);
    background-size: 945px 576px;
    height: 576px;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    align-items: end;
}

.grid-container .title {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
}

.inflation footer {
    margin-top: 24px;
}

.inflation footer hr {
    width: 60px;
    margin-bottom: 13px;
    border: none;
    height: 1px;
    background-color: black;
}

.inflation footer p {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 500;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    line-height: 1.125rem;
    color: #333;
}