* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 36px;
    width: 100%;
    padding: 4px 15px 2px;
    position: fixed;
}

main {
    padding-top: 36px;
}

article {
    width: 600px;
    margin: auto;
}

article p,
article h2 {
    font-size: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 20px;
    line-height: 1.875rem;
    margin-bottom: 15px;
}

iframe {
    width: 600px;
    height: 337.5px;
}